{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>encrypter</title>
<!--    указываем ссылку на css file-->
    <link rel="stylesheet" href="{% static 'Vigenere/css/checkmessages.css' %}">
</head>
<body>
    <h1>Viewing messages</h1>
<div class="ribbon"></div>
  <div class="login">
  <form id="form" action="CheckMessagesInDB" method="POST">
      {% csrf_token %}
    <div class="input">
      <div class="blockinput">
        <i class="icon-envelope-alt"></i><input type="text" placeholder="Login" name="Log" id="Log">
      </div>
      <div class="blockinput">
        <i class="icon-unlock"></i><input type="password" placeholder="Password" name="pass" id="pass">
      </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <br {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</br>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
       <button type="submit" id="butt">Viewing</button>
          <a id="toAuthorize" href="http://127.0.0.1:8000/encrypt">Back to Encryption</a>
  </form>
    {% if MesUser.count > 0 %}
    <table id="table">
        <tr><th>Всe сообщения: </th></tr>
        {% for mess in MesUser %}
        <tr><td>{{ mess.EncryptMessage }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
  </div>
</body>
</html>